@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');

* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background: linear-gradient(135deg, #4203a9, #90bafc);
  }
  .container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .main h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }
  .main h6{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    
  }
  .main {
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    color: #fff;    
    position: relative;
}
.left{
  width: 50%;
}
.right{
  width: 50%;
}

/* slider  */
.slider {
  width: 550px;
  overflow: hidden;
  box-shadow: 2px 2px 4px rgba(255,255,255,0.3);
  height: 350px;
  border-radius: 3px;
}

ul {
  display: flex;
  list-style: none;
  transition: all 1s ease;
}

img {
  width: 550px;
  height: 350px;
  border-radius: 3px;
}

/* navbar */
nav {
  background-color: rgba(255,255,255,0.3);
    display: flex;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    top: 0;
    align-items: center;
    width: 100%;
    left: 0;
    justify-content: space-around;    
  }

  
  nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    list-style: none;
  }
  .menu-title{
    color: #fff;
  }
  
  nav ul li a {
    text-decoration: none;
    font-family: "poppins", sans-serif;
    color: #fff;
    padding: 8px 0;
    transition: all;
    transition-duration: 300ms;
    border-bottom: 3px solid rgba(255, 68, 0, 0);
  }
  

  nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 7px;
    color: #ffff76;
    transition: width .3s;
    border-bottom: 3px solid #ffff76;
  }
  
  nav ul li a:hover::after {
    width: 100%;
    transition: width .3s;
  }
  .active{
    color: #ffff76;
    border-bottom: 3px solid #ffff76;
  }
  
  .menu-icon {
    /* background-color: tomato; */
    color: white;
    cursor: pointer;
    font-size: 28px;
    display: none;
  }
  footer{
    font-family: 'poppins';
    font-size: 12px;
    color: #fff;
    border-top: 1px solid #ffff76;

    align-items: center;
    background:rgba(255,255,255,0.3);
  }
  .footer-cr{
    text-align: center;
    padding: 5px;
  }
  .footer-top{
    padding: 5px;
    display: flex;
    justify-content: space-around;
  }
  .footer-title{
    text-align: center;
    color: #ffff76;
  }
  .footer-item{
    display: flex;
    flex-direction: column;
  }
  .footer-item a{
    color: #fff;
    text-decoration: underline;
  }
  
  @media only screen and (max-width: 768px) {
    .main{
      font-size: 20px;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .main h3,h6{
      text-align: center;
    }
    .slider{
      display:none;
    }
    nav {
      flex-wrap: wrap;
      position: fixed;
      width: 100%;
      top: 0;
      padding: 1rem;
    }
  
    nav ul {
      flex-direction: column;
      width: 100%;
    }
  
    nav ul li:last-of-type {
      padding-bottom: 8px;
    }
  
    nav ul.hidden {
      display: none;
    }
  
    .menu-icon {
      display: flex;
      align-items: center;
    }
    .footer-top{
      flex-direction: column;
    }
  }
