@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(210, 210, 210);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 40px;
    margin-top: 100px;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 90px;
    max-width: 900px;
}

.calculator-container {
    flex: 1;
    box-sizing: border-box;
    border: 2px solid;
    padding: 25px;
    border-radius: 10px;
    background-color: rgb(20, 20, 20);
}

.calculator-container button {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    font-size: 25px;
    margin: 3px;
    color: rgb(255, 255, 255);
    background-color: #fe9e09;
    border: none;
    cursor: pointer;
}
.calculator-container .number:hover{
    background-color: #979797;
    
}
.calculator-container button:hover {
    background-color:#ffc366;
}

.display-row {
    height: 90px;
    max-height: 130px;
    text-align: right;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 15px;
    margin: 10px 5px 5px 5px;
}
.display-row a{
    float: left;
    cursor: pointer;
}
.display-row .userInput {
    visibility: hidden;
    font-size: 22px;
}

.display-row .inputAnswer {
    font-size: 40px;
}

.calculator-container .number {
    background-color: rgb(100, 100, 100);
}

.history {
    box-sizing: border-box;
    background-color: rgb(20, 20, 20);
    color: rgb(255, 255, 255);
    font-size: 25px;
    width: 230px;
    border-radius: 0px 20px 20px 0px;
    float: left;
}
.history p{
    margin-top: 20px;
}
.history ul {
    list-style: none;
    margin-top: 20px;
    overflow-y: auto;
    max-height: 540px;
    width: 210px;
    margin-left: 15px;
}
.show i{
    font-size: 20pt;
}

