@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');

* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background: linear-gradient(135deg, #4203a9, #90bafc);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .main h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-align: center;
  }
  .main h6{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    text-align: center;
    
  }
  .main {
    display: flex;
    font-size: 20px;
    align-items: center;
    flex-direction: column;
    color: #fff;    
    max-width: 900px;
    position: relative;
}
.mode{
    position: fixed;
    z-index: 999999;
    top: 17px;
    right: 15px;
  }
.mode button{
  cursor: pointer;
    background: transparent;
    border: none;
}
.mode button img{
    height: 30px;
}
/* MODE  */
.darkMode{
    background: black;
    color: white;
}
.boxx div {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius:5px;
  background-color: transparent;
  border: 4px solid rgba(255,255,255,0.3);
}
.boxx div:nth-child(1) {
  top: 62%;
  left: 42%;
  animation: animate 10s linear infinite;
}
.boxx div:nth-child(2) {
  top: 70%;
  left: 60%;
  animation: animate 7s linear infinite;
}
.boxx div:nth-child(3) {
  top: 17%;
  left: 6%;
  animation: animate 9s linear infinite;
}
.boxx div:nth-child(4) {
  top: 20%;
  left: 60%;
  animation: animate 7s linear infinite;
}
.boxx div:nth-child(5) {
  top: 80%;
  left: 30%;
  animation: animate 5s linear infinite;
}
.boxx div:nth-child(6) {
  top: 36%;
  left: 50%;
  animation: animate 12s linear infinite;
}
.boxx div:nth-child(7) {
  top: 45%;
  left: 90%;
  animation: animate 14s linear infinite;
}
.boxx div:nth-child(8) {
  top: 70%;
  left: 80%;
  animation: animate 6s linear infinite;
}
.boxx div:nth-child(9) {
  top: 12%;
  left: 48%;
  animation: animate 11s linear infinite;
}
.boxx div:nth-child(10) {
  top: 85%;
  left: 5%;
  animation: animate 6s linear infinite;
}
.boxx div:nth-child(11) {
  top: 85%;
  left: 90%;
  animation: animate 12s linear infinite;
}
.boxx div:nth-child(12) {
  top: 50%;
  left: 55%;
  animation: animate 13s linear infinite;
}
.boxx div:nth-child(13) {
  top: 55%;
  left: 20%;
  animation: animate 11s linear infinite;
}
.boxx div:nth-child(14) {
  top: 13%;
  left: 30%;
  animation: animate 12s linear infinite;
}
.boxx div:nth-child(15) {
  top: 13%;
  left: 15%;
  animation: animate 9s linear infinite;
}
.right-item img {
  z-index: 1;
}
@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    transform: scale(1.3) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}
/* navbar */
nav {
  background-color: rgba(255,255,255,0.3);
    display: flex;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    top: 0;
    align-items: center;
    width: 100%;
    left: 0;
    justify-content: space-around;    
  }

  
  nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    list-style: none;
  }
  .menu-title{
    color: #fff;
  }
  
  nav ul li a {
    text-decoration: none;
    font-family: "poppins", sans-serif;
    color: #fff;
    padding: 8px 0;
    transition: all;
    transition-duration: 300ms;
    border-bottom: 3px solid rgba(255, 68, 0, 0);
  }
  
  nav ul li a:hover {
    color: #ffff76;
    border-bottom: 3px solid #ffff76;
  }
  .active{
    color: #ffff76;
  }
  
  .menu-icon {
    /* background-color: tomato; */
    color: white;
    cursor: pointer;

    font-size: 28px;
    display: none;
  }
  
  @media only screen and (max-width: 768px) {
    .main{
      font-size: 16px;
    }
    nav {
      flex-wrap: wrap;
      position: fixed;
      width: 100%;
      top: 0;
      padding: 1rem;
    }
  
    nav ul {
      flex-direction: column;
      width: 100%;
    }
  
    nav ul li:last-of-type {
      padding-bottom: 8px;
    }
  
    nav ul.hidden {
      display: none;
    }
  
    .menu-icon {
      display: flex;
      align-items: center;
    }
  }
