@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
  background: linear-gradient(135deg, #4203a9, #90bafc);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: column;
    height: 100vh;
}
.calculator p{
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator{
  background-color: rgba(255,255,255,0.3);
  padding: 2em;
  border-radius: 10px;
}
.input-box{
    display: flex;
    align-items: center;
}
.input-box input{
    flex: 7;
    margin-right: 20px;
    padding: 14px 50px;
    border: 0;
    outline: 0;
    font-size: 15px;
    border-radius: 5px;
    position: relative;
}
.input-box button{
    flex: 1;
    padding: 14px 10px;
    background-color: #ffff76;
    border: 0;
    outline: 0;
    cursor: pointer;
    font-size: 15px;
    transition: all .3s;
    border-radius: 5px;
    position: relative;
}
.input-box button:hover{
  background-color: #ffff7694;
}
/* navbar */
nav {
  background-color: rgba(255,255,255,0.3);
    display: flex;
    position: absolute;
    top: 0;
    align-items: center;
    width: 100%;
    left: 0;
    justify-content: space-around;    
  }

  .active{
    color: #ffff76;
  }
  nav ul {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;

    list-style: none;
  }
  
  nav div img {
    width: 50px;
  }
  
  nav ul li a {
    text-decoration: none;
    font-family: "poppins", sans-serif;
    color: #fff;
    padding: 8px 0;
    transition: all;
    transition-duration: 300ms;
    border-bottom: 3px solid rgba(255, 68, 0, 0);
  }
  
  nav ul li a:hover {
    color: #ffff76;
    border-bottom: 3px solid #ffff76;
  }
  
  .menu-icon {
    /* background-color: tomato; */
    font-size: 28px;
    display: none;
    cursor: pointer;
    color: #fff;
  }
  .menu-title{
    color: #fff;
  }
  .mode{
    position: fixed;
    z-index: 999999;
    top: 17px;
    right: 15px;
}
.mode button{
    background: transparent;
    border: none;
  cursor: pointer;

}

.result-box{
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 20px;
}
.result-box .box{
  border-radius: 10px;
  display: flex;
  justify-content: center;
  font-style: italic;
  flex-direction: column;
  align-items: center;
  color: #fff;
  height: 60px;
  width: 100px;
  background-color:rgba(255,255,255,0.3);
}
.result-box .box span{
  color: #ffff76;
}

.result{
  color:#fff;
  display: none;
  font-size: 30px;
  font-style: italic;
}
.result span {
  color: #ffff76;
  font-size: 50px;
}
footer{
  font-family: 'poppins';
  font-size: 12px;
  border-top: 1px solid #ffff76;
  color: #fff;
  align-items: center;
  background:rgba(255,255,255,0.3);
}
.footer-cr{
  text-align: center;
  padding: 5px;
}
.footer-top{
  padding: 5px;
  display: flex;
  justify-content: space-around;
}
.footer-title{
  text-align: center;
  color: #ffff76;
}
.footer-item{
  display: flex;
  flex-direction: column;
}
.footer-item a{
  color: #fff;
  text-decoration: underline;
}


  @media only screen and (max-width: 768px) {
    nav {
      flex-wrap: wrap;
      position: fixed;
      width: 100%;
      top: 0;
      padding: 1rem;
    }
  
    nav ul {
      flex-direction: column;
      width: 100%;
    }
  
    nav ul li:last-of-type {
      padding-bottom: 8px;
    }
  
    nav ul.hidden {
      display: none;
    }
  
    .menu-icon {
      display: flex;
      align-items: center;
    }
    .calculator{
      padding: 1.3rem;
    }
    .result-box{
      display: none;
    }
    .result{
      color:#fff;
      display: block;
      font-size: 15px;
      font-style: italic;
    }
    .result span {
      color: #ffff76;
      font-size: 30px;
    }
    .input-box input{
      flex: 2;
      font-size: 12px;
      padding: 5px 15px;
    }
    .input-box button{
      font-size: 12px;
      padding: 5px 10px;
    }
    .calculator p{
      color: #fff;
      display: flex;
      justify-content: center;
      padding-top: 5px;
      font-size: 14px;
      align-items: center;
    }
    .footer-top{
      flex-direction: column;
    }
  }